@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:13px/1.6 Verdana, 微软雅黑, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:13px;}
ul,ol{list-style:none;}
a:link,a:visited{color:#666666;text-decoration:none;}
a:hover,a:active{color:#ffae00;text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}

.layout:after{content:'\20';display:block;height:0;clear:both;}
.layout{*zoom:1;}
.clear{clear:both;}
html{zoom:expression(function(ele){ele.style.zoom="1";document.execCommand("BackgroundImageCache",false,true);}(this));}
body{color:#ffae00; background:#ffae00;}
/*login*/
.login{ width:100%; background:url(/img/login_04.png) left top no-repeat;}
.login-bg{ width:100%; margin: auto;}
.login-title{ margin: 0 auto;  padding-top:140px;  height:86px; width:100%; text-align:center; background:url(/img/login_02.png) center bottom no-repeat;}
.login-logo{margin: 0 auto; width:100%; text-align:center; height:87px; padding-top:80px;}
.email{margin:auto; width:90%; border-radius:4px; background:#ffbb3b; height:80px;position:relative;}
#email{width:65%; border:none; font-size: 20px; height:40px; margin-left:27%; margin-top:15px; background:none; }
.email-ico{width:42px; height:80px;background:url(/img/login_11.png) center center no-repeat; position:absolute; left:20px;}
.m10 {margin-top:20px; width:100%;}
.password{ margin: 0 auto; width:90%; height:80px;  border-radius:4px; background:#ffbb3b;position:relative; }
.password-ico{ width:36px; height:80px; background:url(/img/login_15.png) center center no-repeat; position:absolute; left:20px; }
#password{width:70%; border:none; font-size: 20px; height:40px; margin-left:23%; margin-top:15px; background:none; }
.status{ margin:auto; width:90%; padding:20px 0; color:#fff; font-size:18px; font-weight:bold;}
.status span.none{float:left; width:26px; height:26px; background:url(/img/login_05.png); cursor:pointer; margin-right:10px; font-weight:normal;}
.status span.click {float:left; width:26px; height:26px; background:url(/img/login_01.png) no-repeat; cursor:pointer; margin-right:10px; font-weight:normal;}
.login-button{ margin-left:19px ; border: none; width:90%; height:80px; background:#b26600; border-radius:4px; cursor:pointer; color:#fff; font-size:24px; font-weight:bold; text-align:center; line-height:80px;}
.login-button:hover{ margin-left:19px ; width:90%; height:80px; background:#ce6600;border:none;}
.forgot-password{ margin-left:20px ; width:90%; padding-top:20px; text-align:right;}
.forgot-password a:link,.forgot-password a:visited{ color:#fff; text-decoration:none; cursor:pointer; font-size:18px;}
.forgot-password a:hover,.forgot-password a:active{ color:#f60; text-decoration:underline; cursor:pointer; font-size:18px;}
/*my-courses*/
.my-courses{width:100%; background:#FFF; position:relative;}
.personal-information{ width:100%; position:absolute; left:0; top:400px;}
.personal-information-wrap{ margin: 0 auto; width:100%;text-align:center; color:#fff; font-weight:bold; font-size:30px;}
.matter-prompt{width:100%; height:700px; background:#ffae00 url(/img/my-courses11.jpg) center top repeat-x;}
.matter-prompt-wrap{width:100%; padding-top:600px;}
.matter-prompt h4{padding-left:3%; color:#fff; font-size:30px; line-height:40px; font-weight:bold;}
.matter-prompt h5{padding-left:3%; color:#fff; font-size:24px; font-weight:normal;}
.module-title{ width:100%; height:140px; background:#f7f7f7; border-bottom: 1px solid #eaeaea; font-size:25px;}
.module1{float:left; width:32%; height:100px; border-right: 1px solid #fff; text-align:center;}
.module2{ float:left; width:32%; height:100px; border-right: 1px solid #fff; text-align:center;}
.module3{ float:right; width:34%; height:100px; text-align:center;}
.module-title h3{ font-size:30px; font-weight:bold; padding-top:20px; color:#000;}
.content{ width:100%; background:#fff;}
.content ul{ margin: 0 auto; width:95%;}
.content li{ padding:30px 0 30px 10px; border-bottom: 1px solid #eaeaea; font-size:25px; color:#36393b; background:url(/img/my-courses_03.gif) right center no-repeat; cursor:pointer;}
.content li:hover {background:url(/img/my-courses_03_hover.gif) right center no-repeat;}
/*.content li span{float:right; width:17px; height:20px; margin:15px 0; cursor:pointer;}
.content li span:hover{ float:right; width:17px; height:20px; background:url(/img/my-courses_03.gif) 0 -20px no-repeat;}*/